{% load static %}<!DOCTYPE html>
<html>
<head>
<title>
</title>
<link rel="stylesheet" href="{% static 'css/style3.css' %}">
<style>
</style>
</head>
<body class="b1">
<div class="navbar">
<ul>
<li>Edit
<div class="submenu">
<ul>
<li><a href="{% url 'password' %}">Password</a></li>
<li><a href="{% url 'mobile' %}">Mobile</a></li>
<li><a href="{% url 'email' %}">Email</a></li>
</ul>
</div>
</li>
<right><li><a href="{% url 'logout' %}">Logout</li></right>
</ul>
</div>
<div class="gal">
<img src="{% static 'img/orisys2.jpg' %}">
</div>
<form> 
{% csrf_token %}

<div class="cont">
<li><a href="{% url 'personaldetails' %}" >My Profile</a></li> 
<li><a href="{% url 'viewmark' %}" >Mark</a></li> 
<li><a href="{% url 'myattend' %}">Attendance</a></li> 
<li><a href="{% url 'studapplyleave' %}">Apply Leave</a></li> 

</div>
</form>
</div>



<div class="ft">
<footer >
<p>&copy 2018-2019 company inc.</p>
</footer>
</div>
</body>
</html>
